version: "3.8"

services:
    discord-bot:
        image: ghcr.io/davinci-labs-team/discord-bot:latest
        container_name: discord_bot
        restart: unless-stopped
        logging:
            driver: json-file
            options:
                max-size: "50m"
                max-file: "5"
        environment:
            NODE_ENV: production
            ENV: production
            SUPABASE_HOST: ${SUPABASE_HOST}
            SUPABSE_TOKEN: ${SUPABASE_TOKEN}
            BOT_TOKEN: ${BOT_TOKEN}
            DEV_SERVER_ID: ${DEV_SERVER_ID}
            CLIENT_ID: ${GUILD_ID}
            GUILD_ID: ${GUILD_ID}
